//Primary Colors
$strong-scyan: hsl(171, 66%, 44%);
$light-strong-scyan: lighten(hsl(171, 66%, 44%), 10%);
$dark-strong-scyan: darken(hsl(171, 66%, 44%), 5%);


$light-blue: hsl(233, 100%, 69%);
$light-light-blue: lighten(hsl(233, 100%, 69%), 10%);
$dark-light-blue: darken(hsl(233, 100%, 69%), 5%);

//Neutral Colors
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);